@using WebApplication.Models
@model WebApplication.Models.EventResponseModel
@{
}

<div class="main-container">

    <h3>Qui apporte quoi ?</h3>

    <div id="add-container">
        Ajouter une categorie
        <div class="alert alert-primary category-container">
            <input id="categoryInput" type="text" class="form-control" placeholder="Nom de la categorie" />
            <div>
                <button type="button" class="btn btn-light" onclick="appendNewCategory(@Model.Id)">Ajouter</button>
            </div>
        </div>
    </div>

    <div class="categories-container">
        @foreach (var category in Model.categories)
        {
            var categoryObject = Json.Serialize(category);
        <div>
            <div class="alert alert-primary category-container">
                <h3>@category.name</h3>
                <div>
                    <button type="button" class="btn btn-light" onclick="editCategory(this)">Edit</button>
                    <button type="button" class="btn btn-light" onclick="deleteCategory(this, @category.Id)">Delete</button>
                    <button type="button" class="btn btn-light" onclick='saveCategory(this, JSON.stringify({ ...@categoryObject, "eventId": @Model.Id}))' style="display: none">Sauvegarder</button>
                    <button type="button" class="btn btn-light" onclick="cancelEditCategory(this)" style="display: none">Annuler</button>
                </div>
            </div>
            <div class="items-container">
                @foreach (var item in category.items)
                {
                    var itemObject = Json.Serialize(item);
                    <div class="alert alert-light item-container">
                        <div>
                            <div>
                                Qui: <span>@item.Who</span>
                            </div>
                            <div>
                                Quoi: <span>@item.What</span>
                            </div>
                            <div>
                                Quantité: <span>@item.Quantity</span>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-light" onclick='editItem(this, JSON.stringify(@itemObject))'>Edit</button>
                            <button type="button" class="btn btn-light" onclick="deleteItem(this, @item.Id)">Delete</button>
                        </div>

                    </div>
                }
                <button type="button" class="btn btn-primary" onclick="appendNewItem(this, @category.Id)">+</button>
            </div>
 

        </div>

        }
    </div>
</div>

